@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

.product-background {
  background-image: none;
}

.bg-position-left {
  background-position: left;
}

.bg-position-right {
  background-position: right;
}

.bg-position-center {
  background-position: center;
}

.bg-position-top {
  background-position: top;
}

.bg-position-bottom {
  background-position: bottom;
}

@media screen and (max-width: 767px) {
  .product-background {
    background-image: url("./assets/cover.webp");
  }
}

.monster {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.dark-button-style {
  @apply border-2 border-transparent bg-slate-800 text-white hover:border-slate-800 hover:bg-white hover:text-slate-800;
}

.light-button-style {
  @apply border-2 border-slate-800 bg-white text-black hover:bg-slate-800 hover:text-white;
}

.common-blue-gradient {
  background: linear-gradient(to right, #5048c8, #071484);
}

.default-desktop-cover {
  background-image: url(./assets/default-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.app-container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

.common-box-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.truncate-upto-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}